* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100vh;
  background-color: #9FC3B5;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url("../images/paper_plane.jpg") bottom left no-repeat;
  background-size: contain;
  height: inherit;
  padding-top: 40px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  text-shadow: 3px 3px 3px grey;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

#task, #desc, #importance, #category {
  display: flex;
  /*could be flex*/
  flex-direction: column;
  margin: 10px;
}

#category, #radioBtngroup {
  display: inline;
}

.radioBtn {
  display: inline;
  margin: 0px 10px;
}

#postBtn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  right: 10px;
  background-color: #dfa59c;
  /*for the "+" sign on the button*/
  font-size: 25px;
  color: white;
  text-align: center;
}

#postBtn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
  background-color: #de7c6d;
}

section {
  padding: 10px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px grey;
  position: relative;
}

#task_textbox {
  border-radius: 4px;
  border-color: grey;
  font-size: 12px;
  padding: 5px;
}

textarea {
  resize: none;
  border-radius: 4px;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 5px;
}


/*SLIDER*/
#slider {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  margin: 0px;
  padding: 0px;
  background: #f0e0b6;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: white;
}

#slider:hover {
  background-color: #f0d389;
}

#ticks {
  width: 49.75%;
  padding: 0px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

#ticks p {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
